.checkout-form{
    margin: 1rem auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 504px;
    justify-content: space-between;
    
    .form-input{
        width: 500px;
        border: none;
        border-bottom:solid 2px rgb(179, 39, 39);
        font-size: 18px;

        &:focus{
            outline-style: none;
        }
    }

    .email{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 500px;

        .email-input{
            width: 200px;
            border: none;
            border-bottom:solid 2px rgb(179, 39, 39);
            font-size: 18px;

            &:focus{
            outline-style: none;
            }
        }
    }
}