div{
    .add-to-cart-button{

        color: white;
        position: relative;
        top: 180px;
        border: rgb(179, 39, 39) 1px solid;
        background-color: rgb(190, 42, 42);
        border-radius: 10px;
        padding: 10px;
    }
}